html {
  font-size: 14px;
}

@media (min- : 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  
  min-height: 100%;
}

body {
    background-color: #FFFACE;
    height: 900px;
}

#ContainerLayout {
    display: grid;
}

.navbar {
    background-color: #00B9F3;
    height: 100px;
    border: 2px solid;

}
    .navbar a {
        color: black;
        font-size: 52px;
        font-family: "Homenaje", sans-serif;
    }

.navOrganizar ul {
    border: 10px;
    height: 70px;
    background-color: #FFFACE;
    display: flex;
    justify-content:center;
    padding: 10px;
    gap: 200px;
}
    .navOrganizar ul li {
        display: flex;
        justify-content: center;
        list-style: none;
        background-color: #85E2FF;
        height: 40px;
        border: 2px solid;
        border-radius: 6px;
        width: 200px;
    }

        .navOrganizar ul li a {
            font-size: 17px;
        }

.Praias{
    display: flex;
    justify-content: center;
}
.Praia {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}


.NomesPraias {
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 30px;    
}



.imgPraias {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-block: 50px;
}


.TextBox {
    display: flex;
    justify-content: center;
    background-color: #FFFEEC;
    list-style: none;
    height: 140px;
    border-radius: 17px;
    width: 300px;
}
        .TextBox img {
            height: 40px;
        }

    .TextBox a{
        padding: 50px;
        font-size: 15px;
        color: black;
    }


        
.TextBoxRoutes{
    display: flex;
    background-color: #FFFEEC;
    list-style: none;
    height: 150px;
    border-radius: 17px;
    text-align:center;
    justify-content:center;
    }


.TextBoxRoutes a {
    display: flex;
    font-size: 19px;
    padding: 10px;
}
footer {
    background-color: #00B9F3;
}

.container {
    color: black;
}

#BoxSobre {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFFEEC;
    height: 538px;
    border-radius: 17px;
    width: 1429px;
    padding: 5%;
}

.CenterBox{
    justify-content:center;
    align-items:center;
    display:flex;
    padding: 50px;
}

.TextSobre{
    display:flex;
    font-size: 48px;
}

.Atributos{
    flex-direction: row;
    justify-content: center;
}

.ONGs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ONG{
    text-align:center;
    align-items:center;
    display:flex;
    height: 800px;
    width:33%;
    stroke:ActiveBorder;
    flex-direction:column;
    border: solid;
}

.ONG p{
    font-size: 20px;
}

.imgOng {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    gap: 20px;
}

.RedesSociais {
    flex-direction: row;
    padding: 50px;
    gap:20px;
    width: 100%;
}
.RedesSociais img {
    margin-top: 100px;
    height: 100px;
    width: 100px;
}
.Contatos{
    padding: 20px;
}


