@{
    ViewData["Title"] = "Início";
}

<div class="Praias">

 <container class="Praia">
    <h1 class="NomesPraias">Praia do Félix</h1>
    <img src="img/imgPraia3.png" class="imgPraias"/>
    <container class ="TextBox">
    <a href="https://maps.app.goo.gl/tdjCXRcYNJAtmxHJ9"><img src="img/iconLoc.png" />Clique para Localização</a>    
    </container>
</container>

<container class="Praia">
    <h1 class="NomesPraias">Praia do Lázaro</h1>
    <img src="img/imgPraia2.png" class="imgPraias" />
    <container class="TextBox">
        <a href="https://maps.app.goo.gl/xTXPew5gkUr7jS3Y9"><img src="img/iconLoc.png" />Clique para Localização</a>
    </container>
</container>

<container class="Praia">
    <h1 class="NomesPraias">Praia da Enseada</h1>
    <img src="img/imgPraia1.png" class="imgPraias" />
    <container class="TextBox">
        <a href="https://maps.app.goo.gl/gqdxmhhr2rE6okZy6"><img src="img/iconLoc.png" />Clique para Localização</a>
    </container>
</container>
</div>
