@model IEnumerable<Praia>
@{
    ViewData["Title"] = "Início";
}

<div class="Praias">
 @foreach (var praias in Model){
 <container class="Praia">
    <h1 class="NomesPraias">@praias.Nome</h1>
    <img src="@praias.img" class="imgPraias"/>
    <container class ="TextBox">
    <a href="@praias.linkMaps"><img src="img/iconLoc.png" />Clique para Localização</a>    
    </container>
</container>
 }
</div>
