@{
    ViewData["Title"] = "Início";
}
<nav class="navNomesPraias">
    <ul>
        <li>
            <a>Praia do Félix</a>
        </li>
        <li>
            <a>Praia do Lázaro</a>
        </li>
        <li>
            <a>Praia da Enseada</a>
        </li>
    </ul>
</nav>
<nav class="navImgPraias">
    <ul>
        <li>
            <img src="img/imgPraia3.png" class="imgPraias" />
        </li>
        <li>
            <img src="img/imgPraia2.png" class="imgPraias" />
        </li>
        <li>
            <img src="img/imgPraia1.png" class="imgPraias" />
        </li>
    </ul>
</nav>
<nav class="navTextBox">
    <ul>
        <li>
            <a href="https://maps.app.goo.gl/tdjCXRcYNJAtmxHJ9"><img src="img/iconLoc.png" />Clique para Localização</a>
        </li>
        <li>
            <a href="https://maps.app.goo.gl/xTXPew5gkUr7jS3Y9"><img src="img/iconLoc.png" />Clique para Localização</a>
        </li>
        <li>
            <a href="https://maps.app.goo.gl/gqdxmhhr2rE6okZy6"><img src="img/iconLoc.png" />Clique para Localização</a>
        </li>
    </ul>
</nav>
    


